/*/////////////////////////////*/
/*/         VARIABLES         /*/
/*/////////////////////////////*/

:root {
    --background: #222733;
    --darkenBackground: #171b23;
    --firstColor: #73cca8;
    --secondColor: #3ba379;
    --thirdColor: #1e232d;
    --heightNavBar: 60px;
    --paddingNavBar: 75px;
}

/*/////////////////////////////*/
/*/            BASE           /*/
/*/////////////////////////////*/

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
    background-color: var(--background);
}

/*/////////////////////////////*/
/*/            ANIM           /*/
/*/////////////////////////////*/

#init-overlay {
    animation: fadeIn 0.75s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*/////////////////////////////*/
/*/            FONT           /*/
/*/////////////////////////////*/

@font-face {
    font-family: 'awa';
    src: url(font/Awaken.ttf);
    font-display: block;
}

@font-face {
    font-family: 'orb';
    src: url(font/Orbitron.ttf);
    font-display: block;
}

@font-face {
    font-family: 'poi';
    src: url(font/PoiretOne.ttf);
    font-display: block;
}

/*/////////////////////////////*/
/*/  SCROLL BAR (For Chrome)  /*/
/*/////////////////////////////*/

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #525e65;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/*/////////////////////////////*/
/*/       NAV BAR HEADER      /*/
/*/////////////////////////////*/

.myHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease;
}

.header-content.is-compressed {
    height: var(--heightNavBar);
    background-color: var(--thirdColor);
    font-size: 0.9rem;
    color: white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.85);
    padding: 0 2.5rem;
    border-bottom: 1px solid white;
}

.header-content.is-compressed .header-logo-left {
    width: 3rem;
    height: 3rem;
}

.header-content.is-compressed a:link,
.header-content.is-compressed a:visited,
.header-content.is-compressed a:hover,
.header-content.is-compressed a:focus,
.header-content.is-compressed a:active {
    color: white;
}

.header-content.is-expanded {
    height: var(--heightNavBar);
    background-color: transparent;
    color: white;
    padding: 2rem 2.5rem;
}

.header-content.is-expanded .header-logo-left {
    width: 3.5rem;
    height: 3.5rem;
}

.header-content.is-expanded a:link,
.header-content.is-expanded a:visited,
.header-content.is-expanded a:hover,
.header-content.is-expanded a:focus,
.header-content.is-expanded a:active {
    color: white;
}

.header-container-left {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .3s;
}

.header-logo-left {
    border-radius: 50px;
    margin-right: 1.5rem;
    background: var(--firstColorvar);
    transition: 0.3s ease;
}

.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.header-text-left {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.navBar {
    display: flex;
    justify-content: right;
}

.navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    margin: 0 10px;
}

.navBar li a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

.navBar a {
    position: relative;
}

.navBar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-bottom: -8px;
    height: 2px;
    background-color: var(--firstColor);
    transition: width 0.3s ease;
}

.navBar a:hover::after,
.navBar a.active::after {
    width: 100%;
}

.header-ham-menu-container {
    display: none;
    width: 2rem;
    padding: 1rem 0;
}

#open-responsive-navbar,
#close-responsive-navbar {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#close-responsive-navbar {
    display: none;
}

/*/////////////////////////////*/
/*/       HEADER CANVAS       /*/
/*/////////////////////////////*/

.header-container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--background);
}

#myCanvas {
    width: 100%;
}

/*/////////////////////////////*/
/*/      HEADER NAME/JOB      /*/
/*/////////////////////////////*/

.container-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    white-space: nowrap;
    display: inline-block;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.name {
    text-transform: uppercase;
    font-family: 'orb';
    font-size: 4.5em;
    word-spacing: 30px;
    text-shadow: white 1px 0 10px;
}

.console-container {
    font-family: 'poi';
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow: white 1px 0 10px;
}

.console-underscore {
    display: inline-block;
    position: relative;
    left: -5px;
}

/*/////////////////////////////*/
/*/     HEADER SCROLL ANIM    /*/
/*/////////////////////////////*/

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 20px;
    height: 35px;
    margin-left: -10px;
    bottom: 10px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1.5px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation: scroll 1.5s infinite;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}

/*/////////////////////////////*/
/*/   PULSEBUTTON PARAMETER   /*/
/*/////////////////////////////*/

.button-parameter-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#pulse-button-parameter-enter,
#pulse-button-parameter-exit {
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 10px;
}

#pulse-button-parameter-enter {
    animation: pulse 2s infinite;
}

#pulse-button-parameter-enter:hover {
    animation: rotateAnim 2s infinite;
}

#pulse-button-parameter-exit:hover {
    animation: pulse 2s infinite;
}

@keyframes rotateAnim {
    0% {
        transform: scale(1) rotate(0deg);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1.1) rotate(252deg);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1) rotate(360deg);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/*/////////////////////////////*/
/*/     SLIDER PARAMETERS     /*/
/*/////////////////////////////*/

.slider-target {
    opacity: 0;
    transition: opacity 0.33s ease;
    pointer-events: none;
}

.slider-rest {
    opacity: 1;
    transition: opacity 0.33s ease;
}

.parameter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

.webgl-slider-container {
    font-family: "awa";
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 1;
    color: white;
}

.input-container {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.slider {
    height: 3px;
    margin-right: 5px;
    opacity: 0.75;
    transition: all .25s;
}

.slider:hover {
    opacity: 1;
}

/*/////////////////////////////*/
/*/         CONTAINER         /*/
/*/////////////////////////////*/

.container-paddingNavBar {
    padding-top: var(--paddingNavBar);
}

/*/////////////////////////////*/
/*/           FOOTER          /*/
/*/////////////////////////////*/

.contact-link {
    display: flex;
    justify-content: center;
}

.icon-holder {
    background: #262f38;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.25s;
}

a>.icon-holder:hover {
    background: var(--firstColor);
}

footer {
    position: relative;
    background: var(--thirdColor);
    margin-top: 50px;
    padding: 50px 0 20px 0;
}

.footnote {
    text-transform: uppercase;
    text-align: center;
    color: #8f9aa7;
    font-size: 12pt;
    margin-top: 25px;
    opacity: 0.75;
}

footer .footnote .highlight {
    color: var(--firstColor);
    font-family: "Open Sans";
}

.page-link-up {
    position: absolute;
    background: var(--firstColor);
    left: 0;
    right: 0;
    top: -25px;
    width: 30px;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.25s;
}

.page-link-up:hover {
    background: var(--secondColor);
}

/*/////////////////////////////*/
/*/     PROJECT CONTAINER     /*/
/*/////////////////////////////*/

.project-container-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
}

.project-container-card {
    position: relative;
    flex: 350px;
    height: 250px;
    max-width: 480px;
    margin: 10px;
    transition: all 0.25s ease-in-out;
    border-radius: 20px;
}

.project-image-display {
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: all 0.25s;
    border-radius: 20px;
}

.project-desc-display {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.project-desc-text {
    top: 0;
}

.project-desc-title {
    color: black;
    font-size: 2.5em;
    font-family: "awa";

}

.project-desc-techused {
    font-weight: bold;
    color: var(--secondColor);
}

.project-btn-learnmore {
    bottom: 0;
    width: 170px;
    padding: 7px 0;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 13pt;
    border: 2px solid var(--secondColor);
    cursor: pointer;
}

.project-container-card:hover {
    background-color: #fff;
}

.project-container-card:hover>.project-image-display {
    opacity: 0.15;
}

.project-container-card:hover>.project-desc-text {
    opacity: 1;
    top: 4em;
}

.project-container-card:hover>.project-btn-learnmore {
    opacity: 1;
    bottom: 2em;
}

.project-container-card:hover>.project-btn-learnmore:hover {
    background-color: var(--secondColor);
    color: white;
}

/*/////////////////////////////*/
/*/      SECTION TITLE HR     /*/
/*/////////////////////////////*/

.hr-text {
    line-height: 1em;
    position: relative;
    border: 0;
    text-align: center;
    height: 1.5em;
    margin-bottom: 50px;
    font-family: 'poi';
    font-size: 50px;
    color: white;
    text-shadow: white 1px 0 10px;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    padding: 0 0.5em;
    line-height: 1.5em;
    background-color: var(--background);
}

/*/////////////////////////////*/
/*/         ABOUT  ME         /*/
/*/////////////////////////////*/

.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.profile-desc {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    transition: all 0.25s;
}

.profile-text {
    background-color: #525e65;
    padding: 0 20px;
    border-radius: 10px;
}

.profile-text>p {
    opacity: 1;
    font-size: 20px;
    font-family: "poi";
    font-weight: bolder;
    color: white;
    text-align: justify;
}

.profile-cv-button {
    bottom: 0;
    width: 10em;
    padding: 6px 0;
    margin: 1em 0 0 0;
    color: white;
    background-color: transparent;
    font-size: 13pt;
    border: 2px solid var(--firstColor);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s;
}

.profile-cv-button:hover {
    background-color: var(--firstColor);
    color: white;
}

.profile-img {
    position: relative;
    max-width: 400px;
    transition: all 0.25s;
}

.profile-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.border-profile-top {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 4px solid var(--firstColor);
    border-left: 4px solid var(--firstColor);
    height: 50%;
    width: 50%;
    border-radius: 5px;
}

.border-profile-bot {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid var(--firstColor);
    border-right: 4px solid var(--firstColor);
    height: 50%;
    width: 50%;
    border-radius: 5px;
}

.profile-desc a {
    all: unset;
}

/*/////////////////////////////*/
/*/           MODAL           /*/
/*/////////////////////////////*/

/* The Modal (background) */
.modal-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    max-width: 90%;
    box-shadow: 0 0 30px #fff;
    animation: animatetop 0.4s ease-in-out forwards;
    max-height: 90vh;
    overflow: auto;
}

/* Animation */
@keyframes animatetop {
    from {
        top: -250px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetopreverse {
    from {
        top: 0;
        opacity: 1
    }

    to {
        top: -500px;
        opacity: 0
    }
}

.modal-body {
    display: flex;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background);
}

/* Close Button */
.close {
    background-color: #f00;
    color: #fff;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.25s;
}

.close:hover,
.close:focus {
    color: #ccc;
    background-color: #c00;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    position: relative;
}

.modal-title {
    font-size: 40px;
    font-family: "poi";
    font-weight: bold;
}

.modal-date {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: "poi";
    font-weight: bold;
}

.modal-tech {
    font-size: 14px;
    font-family: "awa";
    font-weight: bold;
    padding: 10px 0;
    color: var(--secondColor);
}

.modal-desc {
    font-family: 'poi';
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: justify;
}

.modal-button {
    border: 0;
    margin: 0 5px;
    background-color: var(--darkenBackground);
    padding: 12px;
    border-radius: 50px;
    transition: all 0.25s;
    cursor: pointer;
}

.modal-button:hover {
    transform: scale(1.05);
    background-color: var(--secondColor);
}

.hr-team {
    position: relative;
    border: 0;
    text-align: center;
    font-size: 25px;
    font-family: "poi";
    font-weight: bold;
}

.hr-team:before {
    content: '';
    background: linear-gradient(to right, transparent, #000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-team:after {
    content: attr(data-content);
    position: relative;
    padding: 0 0.5em;
    background-color: white;
}

.modal-team {
    margin-top: auto;
}

.modal-descflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal-teammate {
    padding: 5px 10px;
    margin: 2px;
    background-color: var(--background);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s;

    font-family: 'poi';
    font-size: 18px;
    font-weight: bold;
}

.modal-teammate:hover {
    background-color: var(--secondColor);
    transform: scale(1.05);
}

.modal-teammate.active {
    cursor: auto;
    background-color: var(--secondColor);
}

.modal-teammate.active {
    background-color: var(--secondColor);
    transform: none;
}

.modal-descflex a {
    all: unset;
}

/*/////////////////////////////*/
/*/        IMG IN MODAL       /*/
/*/////////////////////////////*/

.modal-slideshow {
    display: none;
    width: 500px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    background-color: var(--darkenBackground);
    transition: all 0.25s;
}

.modal-slideshow>img {
    height: 100%;
}

.slideshow-container {
    position: relative;
    align-items: center;
    background-color: var(--darkenBackground);
}

.prev,
.next {
    z-index: 1;
    border: solid 1px #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.25s ease;
    border-radius: 3px;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation: fade 0.5s ease-in-out forwards;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.modal-countimg {
    z-index: 1;
    top: 5px;
    right: 5px;
    border: solid 1px #fff;
    position: absolute;
    padding: 6px 14px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: all 0.25s ease;
    border-radius: 50px;
}

/*/////////////////////////////*/
/*/        MEDIA QUERY        /*/
/*/////////////////////////////*/

@media screen and (max-width: 1185px) {

    /* MODAL */
    .modal-body {
        flex-direction: column;
    }

    .modal-slideshow {
        width: 300px;
        height: 300px;
    }

    .prev {
        transform: translateY(-50%);
    }

    .slideshow-container {
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {

    /* HOME - NAVBAR */
    .navBar ul {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--thirdColor);
        width: 100%;
        z-index: 2;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .navBar ul.navBar-active {
        max-height: 300px;
        opacity: 1;
    }

    .navBar ul li {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
    }

    .header-ham-menu-container {
        display: block
    }

    .header-content.is-compressed {
        padding: 0.4rem 1.5rem;
    }

    .header-content.is-expanded {
        padding: 2rem 1.5rem;
    }

    /* HOME - TEXT/CANVAS */
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    .container-name {
        position: static;
        transform: none;
        white-space: normal;
        margin: 0 1em;
    }

    .name {
        font-size: 2.5em;
    }

    /* HOME - SLIDERS */
    .button-parameter-container {
        display: none;
    }

    /* ABOUT ME */
    .container-profile {
        display: block;
    }

    .profile-img {
        margin: 0 auto;
        width: 400px;
    }

    .profile-desc {
        display: block;
        margin: 0;
    }

    .profile-text {
        padding: 1em 20px;
        margin: 2em auto 0;
    }

    .profile-cv-button {
        display: block;
        margin: 1em auto 0;
    }
}